<html>
  <head>
    <title>Magic 8 Ball</title>
    <link rel="stylesheet" href="/stylesheets/magiceightball.css" />
  </head>
  <body>
    <h1>Magic 8 ball</h1>
    <hr>
    <nav class="text-right">
      <ul>
        <li><a href="/">Home</a></li> |
        <li><a href="/see">See Answers</a></li> | 
        <li><a href="/add">Add Answers</a></li> |
        <li><a href="/reset">Reset Answer</a></li> |
        <li><a href="/test">Revision</a></li>
      </ul>
    </nav>
    <hr>
    <%= yield %>
  </body>
</html>
